$primary-color: #007bff;
$secondary-color: #000000;
$background-color: #f4f7f9;
$text-color: #2c3e50;
$dark-color: #1a1a1d;
$light-color: #ffffff;

$primary-gradient: linear-gradient(135deg, #007bff 0%, #50e3c2 100%);
$secondary-gradient: linear-gradient(135deg, #50e3c2 0%, #b8e986 100%);

$font-main: "Poppins", sans-serif;
$font-secondary: "Roboto", sans-serif;

$box-shadow-light: 0px 4px 15px rgba(0, 0, 0, 0.1);
$box-shadow-dark: 0px 6px 20px rgba(0, 0, 0, 0.3);

$backdrop-effect: blur(10px);

$border-radius: 10px;
$transition-speed: 0.3s;
